.SavBack {
    width: 100%;
    margin: 375px 0 0 0;
    position: relative;
}

.SavBack img {
    bottom: -175px;
    z-index: -1; 
}

.SavBack a {
    margin: 275px 450px 0;
    position: absolute;
    color: black;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 1.2px;
    font-family: 'Cormorant', serif;
    line-height: 1.6;
    text-align: justify;
    text-justify: inter-word;
    z-index: 1;
}

.SavBack a:hover {
    color: rgba(0, 0, 0, 0.5)
}